<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>email ejs template</title>
</head>

<body>
    <h1>welcome!
        <%= name %>
    </h1>
    <p>
        <%= id%>번째 가입자시네요.</p>
</body>

</html>